<header class="flex items-center justify-center h-25 bg-gray-900 text-white pt-12 pb-5">
    <!-- <img src="/images/miniApp_logo.jpg" alt="PromoX Logo" class="h-10 mr-3" /> -->
    <h1 class="text-2xl font-bold tracking-wider">PromoX</h1>
</header>